# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# Build output
dist/
build/

# Native build folders
android/
ios/

# EAS
.eas/


# Environment variables
.env
.env.*
*.env
!.env.example

# Firebase native configuration
google-services.json
GoogleService-Info.plist

# Firebase / service account secrets
serviceAccountKey.json
firebase-adminsdk-*.json

# Debug / logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Temporary files
*.tmp
*.temp

# Testing / coverage
coverage/

# Misc
*.keystore
*.jks
*.p12
*.pem